<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:desktop3="http://schemas.microsoft.com/appx/manifest/desktop/windows10/3"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap rescap">

	<Identity Name="ITHitLtd.WebDAVDrive.Sample" Publisher="CN=User Name" Version="9.0.27219.0" />

	<mp:PhoneIdentity PhoneProductId="ba6e6f5a-2e76-47d8-8bf1-72b95f5b8a41" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>WebDAV Drive Sample</DisplayName>
		<PublisherDisplayName>IT Hit LTD.</PublisherDisplayName>
		<Logo>Images\Square150x150Logo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="en-US"/>
		<Resource Language="uk-UA"/>
	</Resources>

	<Applications>
		<Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="WebDAV Drive Sample"
			  Description="Mounts WebDAV file system"
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
				<uap:SplashScreen Image="Images\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<uap:Extension Category="windows.protocol">
					<!-- Protocol name must be set in WebDAV Ajax Library, to open from web page. -->
					<uap:Protocol Name="davsample11">
						<uap:DisplayName>WebDAV Drive Sample</uap:DisplayName>
					</uap:Protocol>
				</uap:Extension>

				<!-- Uncomment for app to start on Windows startup. -->
				<!--
			<uap5:Extension Category="windows.startupTask" Executable="WebDAV Drive.exe" EntryPoint="Windows.FullTrustApplication">
				<uap5:StartupTask TaskId="StartupWebDAVDrive" Enabled="true" DisplayName="WebDAV Drive" />
			</uap5:Extension>
			-->

				<desktop3:Extension Category="windows.cloudFiles">
					<desktop3:CloudFiles>
						<desktop3:CustomStateHandler Clsid="B88C1E80-D493-4EEE-B772-AAF34734B89B"/>
						<desktop3:ThumbnailProviderHandler Clsid="C3B06859-38F0-4F6D-AC06-39E1B2C0C77E"/>

						<desktop3:ExtendedPropertyHandler Clsid="20000000-0000-0000-0000-000000000001"/>
						<desktop3:BannersHandler Clsid="20000000-0000-0000-0000-000000000001"/>

						<desktop3:CloudFilesContextMenus>
							<desktop3:Verb Id="LockCommand" Clsid="52140CC5-F5DC-4AAB-8AAD-82387C881319" />
							<desktop3:Verb Id="CommandCompare" Clsid="B05772FC-7A9E-41A7-A9FD-7917C616F273" />
							<desktop3:Verb Id="CommandUnmount" Clsid="9FC5E094-5F3B-4417-995E-68ABF987CF66" />
						</desktop3:CloudFilesContextMenus>

					</desktop3:CloudFiles>
				</desktop3:Extension>
				<com:Extension Category="windows.comServer">
					<com:ComServer>

						<com:ExeServer DisplayName="WebDAVDrive.ShellExtensions" Executable="dummy.exe">
							<com:Class Id="C3B06859-38F0-4F6D-AC06-39E1B2C0C77E" />
						</com:ExeServer>

						<com:ExeServer DisplayName="WebDAVDrive.ShellExtensions" Executable="dummy.exe">
							<com:Class Id="52140CC5-F5DC-4AAB-8AAD-82387C881319" />
						</com:ExeServer>

						<com:ExeServer DisplayName="WebDAVDrive.ShellExtensions" Executable="dummy.exe">
							<com:Class Id="B05772FC-7A9E-41A7-A9FD-7917C616F273" />
						</com:ExeServer>

						<com:ExeServer DisplayName="WebDAVDrive.ShellExtensions" Executable="dummy.exe">
							<com:Class Id="9FC5E094-5F3B-4417-995E-68ABF987CF66" />
						</com:ExeServer>

						<com:ExeServer DisplayName="WebDAVDrive.ShellExtensions" Executable="dummy.exe">
							<com:Class Id="B88C1E80-D493-4EEE-B772-AAF34734B89B" />
						</com:ExeServer>

					</com:ComServer>
				</com:Extension>

			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<rescap:Capability Name="runFullTrust" />
		<!-- Do not uncomment in case of publishing into Microsoft Store. 
	Microsoft Store requires description/explanation and removal on uninstall unvirtualizedResources. -->
		<!-- <rescap:Capability Name="unvirtualizedResources" /> -->
	</Capabilities>

</Package>
